h1 {
    text-align: center;
    background-color: rgb(62, 62, 147);
    width: 500px;
    height: 100px;
    margin: 0 auto;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;

}

.links {
    display: flex;
    justify-content: space-around;
    width: 800px;
    margin:  0 auto;
    margin-top: 20px;
   
}

h2 {
    text-align: center;
    padding-top: 20px;
}

table {
    background-color: white;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 30px;
    display: flex; 
    justify-content: center;  
    margin: 0 auto;
    

}

th, td {
    padding: 2px;
    text-align: left;
    border: 2px solid black;
    
}

tr:hover {
    background-color: lightblue;
}

html {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto; 
}

body {
    background-color: rgb(244, 244, 244);
}